@tailwind base;
@tailwind components;
@tailwind utilities;

/* full height */
html,
body,
#__next {
  height: 100%;
}

/* PAGE BACKGROUND */
body {
  background-color: #333;
  background-image: url("/texture.png");
  background-repeat: repeat;
  background-position: top left;
  background-size: auto;
  color: #f3f4f6;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont;
}

/* container helper */
.container-w {
  max-width: 1180px;
  margin-left: auto;
  margin-right: auto;
}

